@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: white;
    width: 50vw;
    height: 80vh;
    font-family: "Montserrat", "sans-serif";
  }
  .info{
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }
  h4{
    font-size: 14px;
    color: gray;
    letter-spacing: 4px;
  }
  h1{
    font-family: 'Fraunces',"sans-serif";
    margin-top: -5%;    
  }
  p{
    font-size: 14px;
    color: gray;
    margin-top: -5%; 
  }
  button{
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 3px;
    height: 40px;
    color: white;
    font-size: 18px;
    padding: 8px auto;
    margin-top: 10%;
    cursor: pointer;
  }
  button:hover{
    background-color:  hsl(212, 21%, 14%);
    transition: 0.3s ease-in-out;
  }
  .product{
    border-radius: 6px;
    height: auto;
    background-size: 100% 100%;
    background-size: contain;
  }
  .price{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .new{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces',"sans-serif";
    font-size: 28px;
  }
  .old{
    text-decoration: line-through;
    color: gray;
    margin-right: 10%;
  }
  @media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        height: fit-content;
    }
  }
.attribution { position: absolute; bottom: -10% ;  font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }